In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import networkx as nx
import osmnx as ox

In [11]:
df = pd.read_csv("properties.csv")
df

,Unnamed: 0,address/street,baths,beds,coordinates/latitude,coordinates/longitude,garage,id,listPrice,is_manual,...,stories,type,units,year_built,transit_time_cornell,transit_time_schools,mean_transit_time_food,mean_attraction_food,mean_transit_time_groceries,mean_attraction_groceries
0,0,809 S Aurora St,2.0,5.0,42.430851,-76.496069,0,4208852367,2625.0,False,...,1,single_family,1,NaN,32.964266,41.660656,28.614510,58.547235,32.677303,32.560692
1,1,419 Triphammer Rd,2.0,6.0,42.460409,-76.481516,4,4733433667,5000.0,False,...,2,single_family,1,1956.0,18.726652,39.538292,40.998225,30.616060,48.480457,18.194783
2,2,517 S Aurora St,2.0,6.0,42.435014,-76.494344,0,4090421202,4350.0,False,...,1,single_family,1,NaN,27.153197,37.905178,25.817097,74.615924,31.367246,38.496749
3,3,3 Hudson Pl,1.0,2.0,42.430688,-76.493156,0,4199200488,1600.0,False,...,1,single_family,1,NaN,31.883101,42.725910,30.343749,49.460075,34.693401,29.001822
4,4,600 Warren Rd Apt 4-2,1.5,1.5,42.477345,-76.467567,0,9934501911,1881.0,True,...,1,apartment,181,NaN,52.595182,52.701795,65.957514,17.632660,66.080038,8.122852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,218,519 E Buffalo St,1.0,2.0,42.441285,-76.490701,0,3834217847,1200.0,False,...,1,other,7,NaN,16.447236,38.573686,23.725115,85.050476,30.828639,35.070031
219,219,106 Wiedmaier Ct,2.0,3.0,42.413681,-76.449093,0,3610937531,3244.0,True,...,1,apartment,2,2007.0,66.470373,70.133653,67.054115,17.821761,69.579118,13.026491
220,220,409 College Ave,1.0,1.5,42.442255,-76.484963,0,9523596613,4095.0,True,...,1,apartment,64,NaN,9.072828,39.686916,26.436906,177.913893,35.709293,41.041379
221,221,103 Wiedmaier Ct,1.5,3.0,42.413895,-76.448010,0,3609558692,1450.0,True,...,1,apartment,2,2015.0,65.315703,68.978982,66.569621,18.081316,68.424448,13.237786
222,222,902 Dryden Rd,1.5,2.5,42.453703,-76.444380,0,3409039337,1975.0,True,...,1,apartment,10,NaN,42.856092,65.455279,61.658983,19.478793,64.408717,13.307398

In [12]:
realtor_df = pd.read_csv("Scraping/Apify/cleaned_realtor_data.csv")
realtor_df

,Unnamed: 0,address/locality,address/street,baths,beds,coordinates/latitude,coordinates/longitude,garage,id,listPrice,...,local/noise/score,local/wildfire/fire_factor_score,name,sqft,status,stories,type,units,year_built,amenity_count
0,0,Ithaca,809 S Aurora St,2.0,5.0,42.430851,-76.496069,0.0,4208852367,2625.0,...,84.0,3.0,NaN,1300.0,for_rent,1.0,single_family,1.0,NaN,4
1,1,Ithaca,419 Triphammer Rd,2.0,6.0,42.460409,-76.481516,4.0,4733433667,5000.0,...,93.0,2.0,NaN,3200.0,for_rent,2.0,single_family,1.0,1956.0,7
2,2,Ithaca,517 S Aurora St,2.0,6.0,42.435014,-76.494344,0.0,4090421202,4350.0,...,81.0,3.0,NaN,2457.0,for_rent,1.0,single_family,1.0,NaN,0
3,3,Ithaca,3 Hudson Pl,1.0,2.0,42.430688,-76.493156,0.0,4199200488,1600.0,...,84.0,1.0,NaN,900.0,for_rent,1.0,single_family,1.0,NaN,3
4,4,Ithaca,600 Warren Rd Apt 4-2,1.5,1.5,42.477345,-76.467567,0.0,9934501911,NaN,...,75.0,2.0,Warren Wood,894.0,for_rent,1.0,apartment,181.0,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,229,Ithaca,519 E Buffalo St,1.0,2.0,42.441285,-76.490701,0.0,3834217847,1200.0,...,79.0,2.0,"Moll Properties, Inc.",0.0,for_rent,1.0,other,7.0,NaN,3
230,230,Ithaca,106 Wiedmaier Ct,2.0,3.0,42.413681,-76.449093,0.0,3610937531,NaN,...,80.0,1.0,Ithacor,1476.0,for_rent,1.0,apartment,2.0,2007.0,2
231,231,Ithaca,409 College Ave,1.0,1.5,42.442255,-76.484963,0.0,9523596613,NaN,...,73.0,3.0,"Student Agencies Properties, Inc.",725.0,for_rent,1.0,apartment,64.0,NaN,0
232,232,Ithaca,103 Wiedmaier Ct,1.5,3.0,42.413895,-76.448010,0.0,3609558692,NaN,...,77.0,2.0,Ithacor,1144.5,for_rent,1.0,apartment,2.0,2015.0,3
233,233,Ithaca,902 Dryden Rd,1.5,2.5,42.453703,-76.444380,0.0,3409039337,NaN,...,74.0,2.0,Ithacor,0.0,for_rent,1.0,apartment,10.0,NaN,2

In [13]:
realtor_df.columns

Index(['Unnamed: 0', 'address/locality', 'address/street', 'baths', 'beds',
       'coordinates/latitude', 'coordinates/longitude', 'garage', 'id',
       'listPrice', 'local/flood/flood_factor_score', 'local/noise/score',
       'local/wildfire/fire_factor_score', 'name', 'sqft', 'status', 'stories',
       'type', 'units', 'year_built', 'amenity_count'],
      dtype='object')

In [14]:
df = df.merge(realtor_df[['address/street', 'local/flood/flood_factor_score', 'local/noise/score',
       'local/wildfire/fire_factor_score', 'amenity_count']], on='address/street')
df

,Unnamed: 0,address/street,baths,beds,coordinates/latitude,coordinates/longitude,garage,id,listPrice,is_manual,...,transit_time_cornell,transit_time_schools,mean_transit_time_food,mean_attraction_food,mean_transit_time_groceries,mean_attraction_groceries,local/flood/flood_factor_score,local/noise/score,local/wildfire/fire_factor_score,amenity_count
0,0,809 S Aurora St,2.0,5.0,42.430851,-76.496069,0,4208852367,2625.0,False,...,32.964266,41.660656,28.614510,58.547235,32.677303,32.560692,1.0,84.0,3.0,4
1,1,419 Triphammer Rd,2.0,6.0,42.460409,-76.481516,4,4733433667,5000.0,False,...,18.726652,39.538292,40.998225,30.616060,48.480457,18.194783,1.0,93.0,2.0,7
2,2,517 S Aurora St,2.0,6.0,42.435014,-76.494344,0,4090421202,4350.0,False,...,27.153197,37.905178,25.817097,74.615924,31.367246,38.496749,1.0,81.0,3.0,0
3,3,3 Hudson Pl,1.0,2.0,42.430688,-76.493156,0,4199200488,1600.0,False,...,31.883101,42.725910,30.343749,49.460075,34.693401,29.001822,1.0,84.0,1.0,3
4,4,600 Warren Rd Apt 4-2,1.5,1.5,42.477345,-76.467567,0,9934501911,1881.0,True,...,52.595182,52.701795,65.957514,17.632660,66.080038,8.122852,1.0,75.0,2.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,218,519 E Buffalo St,1.0,2.0,42.441285,-76.490701,0,3834217847,1200.0,False,...,16.447236,38.573686,23.725115,85.050476,30.828639,35.070031,1.0,79.0,2.0,3
223,219,106 Wiedmaier Ct,2.0,3.0,42.413681,-76.449093,0,3610937531,3244.0,True,...,66.470373,70.133653,67.054115,17.821761,69.579118,13.026491,1.0,80.0,1.0,2
224,220,409 College Ave,1.0,1.5,42.442255,-76.484963,0,9523596613,4095.0,True,...,9.072828,39.686916,26.436906,177.913893,35.709293,41.041379,1.0,73.0,3.0,0
225,221,103 Wiedmaier Ct,1.5,3.0,42.413895,-76.448010,0,3609558692,1450.0,True,...,65.315703,68.978982,66.569621,18.081316,68.424448,13.237786,1.0,77.0,2.0,3
226,222,902 Dryden Rd,1.5,2.5,42.453703,-76.444380,0,3409039337,1975.0,True,...,42.856092,65.455279,61.658983,19.478793,64.408717,13.307398,3.0,74.0,2.0,2

place = 'Tompkins County, New York, USA'
G = ox.graph_from_place(place)
fig, ax = ox.plot_graph(G)

G = ox.add_edge_speeds(G)
G = ox.add_edge_travel_times(G)

orig = ox.nearest_nodes(G, -76.484735,42.450335)
dest_cornell = ox.nearest_nodes(G, -76.48274160938676, 42.44757971297041)
route = ox.shortest_path(G, orig, dest_cornell, weight='travel_time')
fig, ax = ox.plot_graph_route(G, route, node_size=0)

int(sum(ox.routing.route_to_gdf(G, route, weight="travel_time")["travel_time"]))

route

In [15]:
import googlemaps
from datetime import datetime

In [16]:
gmaps = googlemaps.Client(key='AIzaSyAgI8O9t7LQ4MjFc7sy3US5XFC71uqJo_0')

In [17]:
def calc_travel_time(origin, destination, mode="driving", departure_time=datetime.now()):
    result = gmaps.distance_matrix(origin,
                                   destination,
                                   mode="driving",
                                   departure_time=departure_time)
    return result['rows'][0]['elements'][0]['duration']['value']

In [18]:
def calc_travel_time_from_df(row, destination=(42.4471938, -76.4822012), mode="driving", departure_time=datetime.now()):
    """
    Calculate the travel time from the housing point of the row of a dataframe from `row` to `destination` with travel mode `mode`, 
    departing at `departure_time`.
    `row`: row of a data frame that has columns `coordinates/latitude` and `coordinates/longitude` defining the point of a housing
    `destination`: list or tuple of (latitude, longitude) of the destination. By default is Uris Hall
    `mode`: str defining the mode of travel: “driving”, “walking”, “transit” or “bicycling”
    Returns the travel time from the housing to the destination in seconds
    """
    origin = (row['coordinates/latitude'], row['coordinates/longitude'])
    return calc_travel_time(origin, destination, mode, departure_time)

In [19]:
adDict = {}

for index, row in df.iterrows():
    try:
        destination = (42.4471938, -76.4822012)
        mode = "driving"
        departure_time = datetime.now()

        travel_time = calc_travel_time_from_df(row, destination=destination, mode=mode, departure_time=departure_time)
        
        adDict[row['address/street']] = travel_time
    except Exception as e:
        print(f"Error processing address {row['address/street']}: {str(e)}")

df['driving_time'] = df['address/street'].map(adDict)

print(df.head())

   Unnamed: 0         address/street  baths  beds  coordinates/latitude  \
0           0        809 S Aurora St    2.0   5.0             42.430851
1           1      419 Triphammer Rd    2.0   6.0             42.460409
2           2        517 S Aurora St    2.0   6.0             42.435014
3           3            3 Hudson Pl    1.0   2.0             42.430688
4           4  600 Warren Rd Apt 4-2    1.5   1.5             42.477345

   coordinates/longitude  garage          id  listPrice  is_manual  ...  \
0             -76.496069       0  4208852367     2625.0      False  ...
1             -76.481516       4  4733433667     5000.0      False  ...
2             -76.494344       0  4090421202     4350.0      False  ...
3             -76.493156       0  4199200488     1600.0      False  ...
4             -76.467567       0  9934501911     1881.0       True  ...

  transit_time_schools  mean_transit_time_food mean_attraction_food  \
0            41.660656               28.614510            58.547235
1            39.538292               40.998225            30.616060
2            37.905178               25.817097            74.615924
3            42.725910               30.343749            49.460075
4            52.701795               65.957514            17.632660

   mean_transit_time_groceries mean_attraction_groceries  \
0                    32.677303                 32.560692
1                    48.480457                 18.194783
2                    31.367246                 38.496749
3                    34.693401                 29.001822
4                    66.080038                  8.122852

   local/flood/flood_factor_score  local/noise/score  \
0                             1.0               84.0
1                             1.0               93.0
2                             1.0               81.0
3                             1.0               84.0
4                             1.0               75.0

   local/wildfire/fire_factor_score  amenity_count  driving_time
0                               3.0              4           485
1                               2.0              7           228
2                               3.0              0           457
3                               1.0              3           535
4                               2.0              6           536

[5 rows x 28 columns]

In [20]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.to_csv("properties_with_driving.csv")