In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import networkx as nx
import osmnx as ox

In [2]:
df = pd.read_csv("realtor_data.csv")
df

,address/street,baths,beds,coordinates/latitude,coordinates/longitude,garage,id,listPrice,is_manual,name,sqft,status,stories,type,units,year_built
0,809 S Aurora St,2.0,5.0,42.430851,-76.496069,0,4208852367,2625.0,False,NaN,1300.0,for_rent,1,single_family,1,NaN
1,419 Triphammer Rd,2.0,6.0,42.460409,-76.481516,4,4733433667,5000.0,False,NaN,3200.0,for_rent,2,single_family,1,1956.0
2,517 S Aurora St,2.0,6.0,42.435014,-76.494344,0,4090421202,4350.0,False,NaN,2457.0,for_rent,1,single_family,1,NaN
3,3 Hudson Pl,1.0,2.0,42.430688,-76.493156,0,4199200488,1600.0,False,NaN,900.0,for_rent,1,single_family,1,NaN
4,600 Warren Rd Apt 4-2,1.5,1.5,42.477345,-76.467567,0,9934501911,1881.0,True,Warren Wood,894.0,for_rent,1,apartment,181,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,519 E Buffalo St,1.0,2.0,42.441285,-76.490701,0,3834217847,1200.0,False,"Moll Properties, Inc.",0.0,for_rent,1,other,7,NaN
229,106 Wiedmaier Ct,2.0,3.0,42.413681,-76.449093,0,3610937531,3244.0,True,Ithacor,1476.0,for_rent,1,apartment,2,2007.0
230,409 College Ave,1.0,1.5,42.442255,-76.484963,0,9523596613,4095.0,True,"Student Agencies Properties, Inc.",725.0,for_rent,1,apartment,64,NaN
231,103 Wiedmaier Ct,1.5,3.0,42.413895,-76.448010,0,3609558692,1450.0,True,Ithacor,1144.5,for_rent,1,apartment,2,2015.0
232,902 Dryden Rd,1.5,2.5,42.453703,-76.444380,0,3409039337,1975.0,True,Ithacor,0.0,for_rent,1,apartment,10,NaN

place = 'Tompkins County, New York, USA'
G = ox.graph_from_place(place)
fig, ax = ox.plot_graph(G)

G = ox.add_edge_speeds(G)
G = ox.add_edge_travel_times(G)

orig = ox.nearest_nodes(G, -76.484735,42.450335)
dest_cornell = ox.nearest_nodes(G, -76.48274160938676, 42.44757971297041)
route = ox.shortest_path(G, orig, dest_cornell, weight='travel_time')
fig, ax = ox.plot_graph_route(G, route, node_size=0)

int(sum(ox.routing.route_to_gdf(G, route, weight="travel_time")["travel_time"]))

route

In [3]:
import googlemaps
from datetime import datetime

In [4]:
gmaps = googlemaps.Client(key='AIzaSyAgI8O9t7LQ4MjFc7sy3US5XFC71uqJo_0')

In [5]:
def calc_travel_time(origin, destination, mode="driving", departure_time=datetime.now()):
    result = gmaps.distance_matrix(origin,
                                   destination,
                                   mode="driving",
                                   departure_time=departure_time)
    return result['rows'][0]['elements'][0]['duration']['value']

In [6]:
def calc_travel_time_from_df(row, destination=(42.4471938, -76.4822012), mode="driving", departure_time=datetime.now()):
    """
    Calculate the travel time from the housing point of the row of a dataframe from `row` to `destination` with travel mode `mode`, 
    departing at `departure_time`.
    `row`: row of a data frame that has columns `coordinates/latitude` and `coordinates/longitude` defining the point of a housing
    `destination`: list or tuple of (latitude, longitude) of the destination. By default is Uris Hall
    `mode`: str defining the mode of travel: “driving”, “walking”, “transit” or “bicycling”
    Returns the travel time from the housing to the destination in seconds
    """
    origin = (row['coordinates/latitude'], row['coordinates/longitude'])
    return calc_travel_time(origin, destination, mode, departure_time)

In [7]:
adDict = {}

for index, row in df.iterrows():
    try:
        destination = (42.4471938, -76.4822012)
        mode = "driving"
        departure_time = datetime.now()

        travel_time = calc_travel_time_from_df(row, destination=destination, mode=mode, departure_time=departure_time)
        
        adDict[row['address/street']] = travel_time
    except Exception as e:
        print(f"Error processing address {row['address/street']}: {str(e)}")

df['driving_time'] = df['address/street'].map(adDict)

print(df.head())

Error processing address Ithaca Solar Townhouses: 'duration'
Error processing address 207 Kevin Pl: 'duration'
Error processing address 207 Kevin Pl: 'duration'
Error processing address 321-321 5 Hillview Pl # 321HIL: 'duration'
Error processing address Ithaca Solar Townhouses: 'duration'
Error processing address Coddington and Hudson Pl: 'duration'
Error processing address 20 Blue Heron Way: 'duration'
Error processing address 207 Kevin Pl: 'duration'
Error processing address 22 Blue Heron Way: 'duration'
Error processing address Ithaca Solar Townhouses: 'duration'
Error processing address Springwood Townhomes: 'duration'
          address/street  baths  beds  coordinates/latitude  \
0        809 S Aurora St    2.0   5.0             42.430851
1      419 Triphammer Rd    2.0   6.0             42.460409
2        517 S Aurora St    2.0   6.0             42.435014
3            3 Hudson Pl    1.0   2.0             42.430688
4  600 Warren Rd Apt 4-2    1.5   1.5             42.477345

   coordinates/longitude  garage          id  listPrice  is_manual  \
0             -76.496069       0  4208852367     2625.0      False
1             -76.481516       4  4733433667     5000.0      False
2             -76.494344       0  4090421202     4350.0      False
3             -76.493156       0  4199200488     1600.0      False
4             -76.467567       0  9934501911     1881.0       True

          name    sqft    status  stories           type  units  year_built  \
0          NaN  1300.0  for_rent        1  single_family      1         NaN
1          NaN  3200.0  for_rent        2  single_family      1      1956.0
2          NaN  2457.0  for_rent        1  single_family      1         NaN
3          NaN   900.0  for_rent        1  single_family      1         NaN
4  Warren Wood   894.0  for_rent        1      apartment    181         NaN

   driving_time
0         489.0
1         229.0
2         458.0
3         539.0
4         534.0